---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <nav>
    <ul>
      <li><a href="/information">Information</a></li>
      <li><a href="/comunication">Comunication</a></li>
      <li><a href="/content">Content</a></li>
      <li><a href="/security">Security</a></li>
      <li><a href="/problems">Problems & Solutions</a></li>
    </ul>
  </nav>
</Layout>
