---
import Layout from "../layouts/Layout.astro";
import InfoSection from "../components/InfoSection.astro";

import { area_data } from "../data/questionnaireData";
import QuestionnaireSection from "../components/QuestionnaireSection.astro";
import type { Area } from "../interfaces/area.interface";

const problems_solutions: Area = area_data[4];
---

<Layout title="Cuestionario de Competencias Digitales">
  <div class="split-layout">
    <InfoSection
      title={problems_solutions.title}
      description={problems_solutions.description}
    />
    <QuestionnaireSection section={problems_solutions.sections[0]} prev="/security" next="" />
  </div>
</Layout>

<style>
  .split-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
  }

  @media (max-width: 1024px) {
    .split-layout {
      grid-template-columns: 1fr;
    }
  }
</style>
