---
import Layout from "../layouts/Layout.astro";
import InfoSection from "../components/InfoSection.astro";

import type { Area } from "../interfaces/area.interface";
import { area_data } from "../data/questionnaireData";
import QuestionnaireSection from "../components/QuestionnaireSection.astro";

const data: Area[] = area_data;
---

<Layout title="Cuestionario de Competencias Digitales">
  <div class="split-layout">
    <InfoSection
      title={data[0].title}
      description={data[0].description}
      image={data[0].image}
    />
    <QuestionnaireSection section={data[0].sections[0]} />
  </div>
</Layout>

<style>
  .split-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 100vh;
  }

  @media (max-width: 1024px) {
    .split-layout {
      grid-template-columns: 1fr;
    }
  }
</style>
